= form_for @correlation do |f|
  - if @correlation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@correlation.errors.count, "error")} prohibited this correlation from being saved:"
      %ul
        - @correlation.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
